.ct-articleunit .ct-h-welter50 {
  margin-bottom: 0;
}
.text-right, .stack-item-footer {
  text-align: right;
}
.ct-h-welter50 {
  font-family: "Bowlby One", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  padding-top: 10px;
}
.text-right {
  text-align: right !important;
}
h4, .h4 {
  font-size: 18pt;
}