.ct-btn {
 -webkit-appearance:none;
 border:0;
 display:inline-block;
 white-space:nowrap;
 width:auto;
 padding:10px 20px 10px 20px;
 text-transform:uppercase;
 color:#fff;
 font-family:"Roboto Slab", Georgia, Times, serif;
 font-size:inherit;
 line-height:inherit;
 font-weight:400;
 font-style:normal;
 transition:background 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
 font-size:20px;
 line-height:20px;
 text-align:center
}
.ct-btn:focus,
.ct-btn:active {
 outline:none
}
.ct-btn:hover,
.ct-btn:active,
.ct-btn:focus,
.ct-btn:visited {
 color:#fff
}
.ct-btn:hover {
 transition:background 250ms cubic-bezier(0.075, 0.82, 0.165, 1)
}
.ct-btn-short {
 padding:5px 10px
}
.ct-btn-white {
 transition:none;
 background:#fff;
 color:#a7a7a7
}
.ct-btn-white:hover,
.ct-btn-white:active,
.ct-btn-white:focus,
.ct-btn-white:visited {
 color:#a7a7a7
}
.ct-btn-white:hover {
 background:#fff;
 transition:none
}
.ct-btn-tweet {
 background:#25a8e0;
 padding-top:12px;
 padding-bottom:9px;
 position:relative;
 min-width:180px
}
.ct-btn-tweet:hover,
.ct-btn-tweet:active,
.ct-btn-tweet:focus,
.ct-btn-tweet:visited {
 color:#fff
}
.ct-btn-tweet:hover {
 background:#125470
}
.ct-btn-tweet .fa {
 margin-right:0.25em;
 font-size:1.4em;
 display:inline-block;
 vertical-align:middle;
 position:relative;
 top:-2px
}
.ct-btn-red {
 background:#ec3f35
}
.ct-btn-red:hover {
 background:#a62c25
}
.ct-btn-black {
 background:#000
}
.ct-btn-black:hover {
 background:#1a1a1a
}
.ct-btn-blue {
 background:#08a5cb
}
.ct-btn-blue:hover {
 background:#06738e
}
.ct-btn-grey {
 background:#a7a7a7
}
.ct-btn-grey:hover {
 background:#676767
}
.ct-btn-lg {
 font-size:1.5em;
 line-height:1em
}
.ct-btn-long {
 padding-left:30px;
 padding-right:30px
}
.ct-btn-xlong,
.ct-btn-xxlong {
 padding-left:50px;
 padding-right:50px
}
@media (min-width: 760px) {
 .ct-btn-xlong,
 .ct-btn-xxlong {
  padding-left:20px;
  padding-right:20px
 }
}
@media (min-width: 992px) {
 .ct-btn-xxlong {
  padding-left:100px;
  padding-right:100px
 }
}
.ct-btn-block {
 display:block;
 text-align:center
}
.ct-btn.force-center {
 display:inline-block;
 margin:0 auto
}
.ct-btn-s-fb,
.ct-btn-s-fb:active,
.ct-btn-s-fb:focus,
.ct-btn-s-fb:visited {
 background:#3b5a99
}
.ct-btn-s-fb:hover {
 background:#1d2d4c
}
.ct-btn-s-tw,
.ct-btn-s-tw:active,
.ct-btn-s-tw:focus,
.ct-btn-s-tw:visited {
 background:#25a8e0
}
.ct-btn-s-tw:hover {
 background:#125470
}
.ct-btn-s-in,
.ct-btn-s-in:active,
.ct-btn-s-in:focus,
.ct-btn-s-in:visited {
 background:#0d7bb7
}
.ct-btn-s-in:hover {
 background:#063d5b
}
.ct-btn-s-pin,
.ct-btn-s-pin:active,
.ct-btn-s-pin:focus,
.ct-btn-s-pin:visited {
 background:#ca2128
}
.ct-btn-s-pin:hover {
 background:#651014
}
