<div class="notices_top_margin" 
      style="position: absolute;top:0;left:0;right:0;z-index: 3000;">

<% flash.each do |msg_type, message| %>
  <div class="alert alert-primary alert-<%= msg_type %>"" role="alert">
    <div class="container">
      <button class="close" data-dismiss="alert"><span>×</span></button>
      <%= message %>
    </div>
  </div>
<% end %>
</div>
