    <%# cta modal start %>
    <div class="modal fade" id="newSubscriptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content">

        <%= render partial: "shared/subscription_cta_form", locals: { contact: Contact.new } %>
    </div>
  </div>
</div>

    <%# cta modal finish %>
